/*CSS reset*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*universal element styles*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
    background: #111;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100);
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


* {
    list-style: none;
    text-decoration: none;
    cursor: url(../images/rsz_1cursor.png), auto;
}

html {
    background-color: black;
}

body {
    background-image: url(../images/homebg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
    color: white;
    animation: transitionIn 0.5s;
}

.navbar {
    color: white;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
}

.navbar a {
    color: white;
    float: left;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 20px 30px;
}

.navbar p {
    float: right;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 0 30px;
}

.navbar a:hover {
    background-color: black;
    transition: ease-in 0.2s;
}

/*style*/
.content {
    transition: ease-in-out 0.5s;
    margin: 55px 15% 0 15%;
    display: inline-block;
    background-color: rgb(30, 30, 30);
}

.profile {
    display: inline-block;
    width: 100%
    height: 200px;
    padding-top: 20px;
}

.profile p {
    text-align: center;
    line-height: 200px;
    font-size: 20px;
}

.profile img {
    float: left;
    padding: 0 30px ;
}

.description .details {
    padding-right: 25px;
    margin-left: 11px;
    padding-left: 30px;
    border-left: 7px solid rgb(37, 37, 37);
}

.description .name {
    padding-bottom: 13px;
}

h1 {
    margin-left: 12px;
}

.footer {
    background-color: rgb(37, 37, 37);
    width: 100%;
    color: white;
    text-align: center;
    transition: ease-in-out 0.2s;
    padding: 5px 0;
}